DB_NAME=DB_NAME
DB_PORT_HOST=DB_PORT_HOST

POSTGRES_ADMIN_USER=POSTGRES_ADMIN_USER
POSTGRES_ADMIN_PASSWORD=POSTGRES_ADMIN_PASSWORD

JWT_SECRET=64CHARACTERS

ADMIN_LOGIN=ADMIN_LOGIN
ADMIN_PASSWORD=ADMIN_PASSWORD